:root {
  --max-width: 1980px;
  --min-width: 820px;
  --accent-color: #1ddd16;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url(../images/dominik-sostmann-Y3fv4X6rzUo-unsplash);
  color: #ffffff;
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
}



.book-appointment {
  background-color: transparent;
  padding: 1rem 2rem;
  font-size: 28px;
  color: #ffffff;
  text-decoration: none;
}

.book-appointment:hover{
  color: rgb(10, 250, 50);
}

/* Container */
.container1  {
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: var(--min-width);
  background-image: url(../images/dominik-sostmann-Y3fv4X6rzUo-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-image 0.7s ease-in-out;
}

.header,
.content,
.footer {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;

}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}

.logo__img {
  margin-left: 5rem;
  width: 2.2rem;
  background-color:transparent;
}

.menu-list {
  margin: 0;
  color: #1ddd16;
}

.menu-list__item {
  display: inline-block;
  margin: 0 0.5rem;
  font-size: 24px;
  color: #1ddd16;
}

.menu-list__item:last-child {
  margin-right: 0;
  color: #1ddd16;
}

/* Content */
.content {
  flex-grow: 1;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  color: #1ddd16;
}

.slideButton {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  font-size: 3rem;
  cursor: pointer;
}

.prevSlide {
  left: 1rem;
}

.nextSlide {
  right: 1rem;
}

.content__claim {
  font-size: 60px;
  letter-spacing: 0.2cm;
  color: white;
  margin: 0;
}

.content__subclaim {
  font-size: 36px;
  margin: 0.5rem 0;
  margin-bottom: 2rem;
}

/* Footer */
.footer-wrapper {
  background-color: transparent;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer__widget {
  font-size: 18px;
}

.footer__widget__title {
  margin: 2rem;
  color: rgb(255, 255, 255);

}

.footer__widget__text {
  margin: 2rem;
  color: #fff;
}

/* Responsive stuff */
@media screen and (max-width: 1280px) {
  .header,
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .menu {
    margin-top: 1.5rem;
  }

  .content {
    align-items: center;
  }

  .footer__widget {
    margin-bottom: 1rem;
  }
}


.navMenu {
  position: absolute;
  top: 6%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4em;
  margin: 0 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #24eb2e;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #21be12;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(140px);
  transform: translateX(140px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(240px);
  transform: translateX(240px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(360px);
  transform: translateX(360px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
